<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Feeld</title>

    <meta name="title" content="Feeld" />
    <meta name="description" content="Feeld but on web" />
    <meta name="image" content="https://feeld.co/favicons/favicon.png" />

    <meta property="og:title" content="Feeld" />
    <meta property="og:description" content="Feeld but on web" />
    <meta property="og:image" content="https://feeld.co/favicons/favicon.png" />

    <link rel="icon" type="image/x-icon" href="https://feeld.co/favicons/favicon.ico">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/main.css" />
      
    <link rel="shortcut icon" type="image/x-icon" href="https://feeld.co/favicons/favicon.ico">
</head>

<body>
    <div id="notification-container" class="notification-container"></div>

    <div id="reportBugPopout" class="popup">
        <div class="popup-content">
            <input class="redditUsernameText" type="text" maxlength="100" id="reportRedditUsername" placeholder="Reddit Username" autocomplete="off">
            <textarea id="bugDescription" maxlength="1500" placeholder="Describe the issue..."></textarea>
            <button class="btn-report" onclick="submitReport()">Report</button>
            <button class="btn-report" onclick="closeReportPopout()">Cancel</button>
        </div>
    </div>

    <div id="moreUserInformation" class="popup">
        <div class="popup-content">
            <section class="settings-group">
                <section class="settings-box">
                    <label class="cleanText">Desires</label>
                    <p class="cleanText" id="moreUserInformationdesiresText"></p>
                </section>
            </section>

            <section class="settings-group">
                <section class="settings-box">
                    <label class="cleanText">Interests</label>
                    <p class="cleanText" id="moreUserInformationinterestsText"></p>
                </section>
            </section>

            <section class="settings-group">
                <section class="settings-box">
                    <label class="cleanText">Bio</label>
                    <br>
                    <textarea class="swipeBioText" id="moreUserInformationswipeBioText" rows="12" readonly></textarea>
                </section>
            </section>

            <button class="btn-report" id="moreUserInformationLikeButton" onclick="likeUserFromMoreUserInformation()">Like User</button>
            <button class="btn-report" id="moreUserInformationRejectButton" onclick="dislikeUserFromMoreUserInformation()">Reject User</button>
            <button class="btn-report" onclick="closeMoreUserInformationPopout()">Close</button>
        </div>
    </div>

    <div class="main-container">
        <header class="header">
            <div class="header-content">
                <h1 class="app-title">Feeld</h1>
                <p class="app-subtitle">v<%- siteVersion %> (v<%- feeldVersion %>)</p>
            </div>
            <div class="header-actions">
                <div class="header-button-container">
                    <button class="btn-logout" onclick="window.open('https://github.com/feeldghost/Feeld-Magic-Site', '_blank')">Source Code</button>
                    <button class="btn-logout" onclick="handleReport()">Report Bug</button>
                    <button class="btn-logout" onclick="handleLogout()">Logout</button>
                </div>
            </div>
        </header>

        <div class="content-layout">
            <aside class="sidebar">
                <nav class="navigation-menu">
                    <a href="#dashboard" class="nav-link active">
                        <i class="fa-solid fa-chart-line"></i> Dashboard
                    </a>
                    <a href="#swipe" class="nav-link">
                        <i class="fa-solid fa-heart"></i> Swipe
                    </a>
                    <a href="#pings" class="nav-link">
                        <i class="fa-solid fa-bell"></i> Pings
                    </a>
                    <a href="#likes" class="nav-link">
                        <i class="fa-solid fa-thumbs-up"></i> Likes
                    </a>
                    <a href="#chat" class="nav-link">
                        <i class="fa-solid fa-comments"></i> Chat
                    </a>
                    <a href="#settings" class="nav-link">
                        <i class="fa-solid fa-cog"></i> Settings
                    </a>
                </nav>
            </aside>

            <main class="main-content">
                <section id="dashboard" class="content-section active">
                    <div id="settingsContainer" class="tab-container">
                        <section id="profileSection">
                            <div class="settings-grid">
                                <div class="settings-column">
                                    <section class="settings-box">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" readonly value="<%= profileQueryResponse.data.account.email %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Display Name</label>
                                            <input type="text" readonly value="<%= profileQueryResponse.data.account.profiles[0].imaginaryName %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Gender</label>
                                            <input type="text" readonly id="gender" value="<%= profileQueryResponse.data.account.profiles[0].gender %>">
                                        </div>
                                        <div class="form-group">
                                            <label>Sexuality</label>
                                            <input type="text" id="sexuality" readonly value="<%= profileQueryResponse.data.account.profiles[0].sexuality %>">
                                        </div>
                                    </section>
                                </div>

                                <div class="settings-column">
                                    <section class="settings-box">
                                        <div class="form-group">
                                            <label>Changelog</label>
                                            <textarea id="changelog" rows="14" readonly><%= changelog.map(log => `${log}`).join("\n") %></textarea>
                                    </section>
                            </div>
                        </section>
                    </div>
                </section>

                <section id="swipe" class="content-section hidden">
                    <div id="settingsContainer" class="tab-container">
                        <section id="profileSection">
                            <div class="settings-grid">
                                <div class="settings-column">
                                    <section class="settings-box">
                                        <section class="settings-box" id="photoContainer"></section>
                                    </section>
                                </div>

                                <div class="settings-column">
                                    <section class="settings-group">
                                        <div class="new-layout-row">
                                            <div class="new-layout-box">
                                                <p class="cleanText" id="swipeDisplayNameText"></p>
                                            </div>
                                            <div class="new-layout-box">
                                                <p class="cleanText" id="swipeAgeText"></p>
                                            </div>
                                            <div class="new-layout-box">
                                                <p class="cleanText" id="swipeGenderText"></p>
                                            </div>
                                            <div class="new-layout-box">
                                                <p class="cleanText" id="swipeSexualityText"></p>
                                            </div>
                                            <div class="new-layout-box">
                                                <p class="cleanText" id="swipeDistanceText"></p>
                                            </div>
                                            <div class="new-layout-box" id="swipeLastSeenBox" style="display: none;">
                                                <p class="cleanText" id="swipeLastSeenText"></p>
                                            </div>
                                        </div>
                                    </section>

                                    <section class="settings-group">
                                        <section class="settings-box">
                                            <label class="cleanText">Extra</label>
                                            <p class="cleanText" id="hasUserLikedYou"></p>
                                        </section>
                                    </section>

                                    <section class="settings-group">
                                        <section class="settings-box">
                                            <label class="cleanText">Desires</label>
                                            <p class="cleanText" id="desiresText"></p>
                                        </section>
                                    </section>

                                    <section class="settings-group">
                                        <section class="settings-box">
                                            <label class="cleanText">Interests</label>
                                            <p class="cleanText" id="interestsText"></p>
                                        </section>
                                    </section>

                                    <section class="settings-group">
                                        <section class="settings-box">
                                            <label class="cleanText">Bio</label>
                                            <br>
                                            <textarea class="swipeBioText" id="swipeBioText" rows="12" readonly></textarea>
                                        </section>
                                    </section>

                                    <section class="settings-group">
                                        <section class="settings-box">
                                            <div class="spaced-button-container">
                                                <button class="btn-swipe-user" onclick="swipeNextUser()">Next</button>
                                                <button id="sipweLikeProfileButton" class="btn-swipe-user" onclick="swipeLikeUser()">Like</button>
                                                <button id="swipeRejectProfileButton" class="btn-swipe-user" onclick="swipeRejectUser()">Reject</button>
                                                <button class="btn-swipe-user" onclick="goBackUser()">Back</button>
                                            </div>
                                        </section>
                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>


                <section id="likes" class="content-section hidden">
                    <div id="likesContainer" class="tab-container">
                        <div class="tab">
                            <div style="text-align: center;">
                                <label class="cleanText" id="totalLikes">? Total Likes</label>
                            </div>
                        <div id="likesUserGrid" class="likes-user-grid"></div>
                    </div>
                </section>

                <section id="pings" class="content-section hidden">
                    <div id="pingsContainer" class="tab-container">
                        <div class="tab">
                            <div style="text-align: center;">
                                <label class="cleanText" id="totalPings">? Total Pings</label>
                            </div>
                            <div id="pingsUserGrid" class="likes-user-grid"></div>
                        </div>
                    </div>
                </section>

                <section id="settings" class="content-section hidden">
                    <div id="settingsContainer" class="tab-container">
                        <section id="profileSection">
                            <div class="settings-grid">

                                <div class="settings-column">
                                    <section class="settings-box">
                                        <form id="profile-form">
                                            <div class="form-group">
                                                <label class="cleanText">Display Name</label>
                                                <input type="text" maxlength="1500" id="profileDisplayName" autocomplete="off">
                                            </div>
                                            <div class="form-group">
                                                <label class="cleanText">Date of Birth</label>
                                                <input type="text" id="profileDateOfBirth" readonly value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="cleanText">Gender</label>
                                                <select id="gender-selector"></select>
                                            </div>
                                            <div class="form-group">
                                                <label class="cleanText">Sexuality</label>
                                                <select id="sexuality-selector"></select>
                                            </div>
                                            <div class="form-group">
                                                <div class="range-container">
                                                    <label class="cleanText">Bio</label>
                                                    <label id="charCount">1500 characters remaining</label>
                                                </div>
                                                <textarea id="profileBio" maxlength="1500" rows="5" autocomplete="off"></textarea>
                                            </div>
                                        </form>
                                        <form id="picture-form">
                                            <label class="cleanText" id="settingsProfilePicturesLabel">Profile Pictures (0/6)</label>
                                            <div id="photoGrid" class="compact-grid">
                                        </form>
                                    </section>
                                </div>

                                <div class="settings-column">
                                    <section class="settings-box">
                                        <div class="form-group">
                                            <label class="cleanText">Location Changer</label>
                                            <input type="text" placeholder="Enter a new location, example; New York" id="location" autocomplete="off">
                                        </div>
                                    </section>
                                    <section class="settings-box">
                                        <div class="form-group">
                                            <label id="interestsLabel" class="cleanText">Interests (0/10)</label>
                                            <input type="text" autocomplete="off" id="interests" placeholder="Up to 10 interests, separated by commas" oninput="updateInterestsLabel(this)">
                                        </div>
                                    </section>
                                    <section class="settings-box">
                                        <div id="currentDesires" class="compact-section">
                                            <label id="currentDesiresLabel" class="cleanText">Desires</label>
                                        </div>
                                        <div id="availableDesires" class="compact-section">
                                            <div id="availableDesiresCategories"></div>
                                        </div>
                                    </section>
                                    <section class="settings-box">
                                        <div id="currentLookingForGrid" class="compact-section">
                                            <label class="cleanText">Looking For</label>
                                        </div>
                                        <div id="availableLookingFor" class="compact-section">
                                            <div id="availableLookingForCategories"></div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="save-button-container">
                            </div>
                        </section>
                    </div>
                </section>
            </main>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>

    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/constants.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/likes.js"></script>
    <script type="text/javascript" src="/js/pings.js"></script>
    <script type="text/javascript" src="/js/swiping.js"></script>
    <script type="text/javascript" src="/js/settings.js"></script>

    <script>
        const profile = <%- JSON.stringify(profileQueryResponse.data.account.profiles[0]) %>;
    </script>
</body>

</html>